Source/RimhammerGyros/.vs/RimhammerGyros/FileContentIndex/332e5778-4e38-4606-97e7-13b8f631498d.vsidx
Source/RimhammerGyros/.vs/RimhammerGyros/v16/.suo
Source/RimhammerGyros/.vs/RimhammerGyros/v18/.suo
Source/RimhammerGyros/.vs/RimhammerGyros/v16/.suo
Source/RimhammerGyros/.vs/RimhammerGyros/v18/DocumentLayout.backup.json
Source/RimhammerGyros/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/RimhammerGyros/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Source/RimhammerGyros/obj/Debug/RimhammerGyros.csproj.AssemblyReference.cache
Source/RimhammerGyros/obj/Debug/RimhammerGyros.csproj.CoreCompileInputs.cache
